<div class="feedbackform">
  <form [formGroup]="feedbackForm">
    <nz-card nzTitle="Feedback Form">
      <div class="star">
        <label>Rate Service Provider</label>
        <nz-rate
          formControlName="rating"
          name="rating"
          [nzTooltips]="tooltips"
        ></nz-rate>
      </div>
      <div class="rowdata">
        <label>Behaviour</label>
        <nz-radio-group formControlName="behaviour">
          <label nz-radio nzValue="1">Dissatisfied</label>
          <label nz-radio nzValue="2">Avarage</label>
          <label nz-radio nzValue="3">Good</label>
          <label nz-radio nzValue="4">Excellent</label>
        </nz-radio-group>
      </div>
      <div class="rowdata">
        <label>Work Accuracy</label>
        <nz-radio-group formControlName="workAccuracy">
          <label nz-radio nzValue="1">Dissatisfied</label>
          <label nz-radio nzValue="2">Avarage</label>
          <label nz-radio nzValue="3">Good</label>
          <label nz-radio nzValue="4">Excellent</label>
        </nz-radio-group>
      </div>
      <div class="rowdata">
        <label>Overall Experience</label>
        <nz-radio-group formControlName="overallExperiance">
          <label nz-radio nzValue="1">Dissatisfied</label>
          <label nz-radio nzValue="2">Avarage</label>
          <label nz-radio nzValue="3">Good</label>
          <label nz-radio nzValue="4">Excellent</label>
        </nz-radio-group>
      </div>
      <div class="rowdata">
        <label>Comment</label>
        <textarea
          formControlName="comment"
          nz-input
          placeholder="Describe your service provider in few words."
          [nzAutosize]="{ minRows: 3, maxRows: 3 }"
        ></textarea>
      </div>
      <div class="actionbtn">
        <button nz-button nzType="default" (click)="closeModal()">
          Cancel
        </button>
        <div>
          <button nz-button nzType="primary" (click)="onSubmit()">
            Mark as Done
          </button>
        </div>
      </div>
    </nz-card>
  </form>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.5)"
  type="ball-clip-rotate-multiple"
></ngx-spinner>
