@textFont: "Open Sans", sans-serif;
@headingFont: "Roboto Slab", serif;

.feedbackform {
  font-family: @headingFont;
  .star {
    display: flex;
    justify-content: space-between;
  }
  .actionbtn {
    display: flex;
    margin-top: 30px !important;
    justify-content: space-between;
  }
  .rowdata {
    padding-top: 15px;
  }
  nz-radio-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
