<!--Forget password Page------>

<nz-spin [nzSpinning]="loader">
    <div class="forgetPassword">
        <div class="container">
            <div class="row w-100 p-0 m-0">

                <div class="col-md-5" style="display: flex;justify-content: center;flex-direction: column;">
                    <form #forgetForm='ngForm' (ngSubmit)='formSubmit(forgetForm.value)'>
                        <div class="formdiv">
                            <h1>Reset your<br>password?</h1>
                            <h4>Don't worry, we got you.</h4>
                            <p>Reset your Password associated with your account</p>
                            <nz-input-group [nzSuffix]="suffixTemplateInfo" [nzPrefix]="prefixTemplatePassword" class="mb-3">
                                <input type="{{ passwordtype }}" name="password" #password="ngModel"
                                    (change)="clearErr()" ngModel required nz-input placeholder="Enter your Password" />
                            </nz-input-group>
                            <ng-template #prefixTemplatePassword><i nz-icon nzType="lock" nzTheme="outline"></i>
                            </ng-template>
                            <ng-template #suffixTemplateInfo><i *ngIf="passwordtype === 'password'"
                                    (click)="changetype('text')" nz-icon nzType="eye"></i>
                                <i *ngIf="passwordtype === 'text'" (click)="changetype('password')" nz-icon
                                    nzType="eye-invisible" nzTheme="outline"></i>
                            </ng-template>
                            <small *ngIf="!password.valid && password.touched" class="text-danger">This field is
                                requried</small>
                            <nz-input-group [nzSuffix]="suffixTemplateInfoc" [nzPrefix]="prefixTemplatePassword">
                                <input type="{{ cpasswordtype }}" name="cpassword" #cpassword="ngModel"
                                    (change)="clearErr()" ngModel required nz-input
                                    placeholder="Confirm your Password" />
                            </nz-input-group>
                            <ng-template #prefixTemplatePassword><i nz-icon nzType="lock" nzTheme="outline"></i>
                            </ng-template>
                            <ng-template #suffixTemplateInfoc><i *ngIf="cpasswordtype === 'password'"
                                    (click)="changetypec('text')" nz-icon nzType="eye"></i>
                                <i *ngIf="cpasswordtype === 'text'" (click)="changetypec('password')" nz-icon
                                    nzType="eye-invisible" nzTheme="outline"></i>
                            </ng-template>
                            <small *ngIf="!cpassword.valid && cpassword.touched" class="text-danger">This field is
                                requried</small>
                            <small class="text-danger text-capitalize">{{
                                passwordMatch
                                }}</small>
                        <!-- </div> -->
                        <button [disabled]="!forgetForm.valid" nz-button [nzLoading]="loader" nzType="primary"
                            class="wp-button">
                            <i nz-icon nzType="check-circle" nzTheme="outline"></i>&nbsp;Reset Password
                        </button>
                </div>
                </form>
            </div>
            <div class="col-md-7">
                <img src="../../../../assets/reset.png" class="img-fluid" alt="">
            </div>
        </div>

    </div>
    </div>
</nz-spin>