@textFont: "Open Sans", sans-serif;
@headingFont: "Roboto Slab", serif;
.forgetPassword{
    padding: 30px 0px;
    .container{
      padding: 0px 50px;
      .formdiv{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important; 
        h1{
          font-family: @headingFont;
          letter-spacing: 1px;
          text-transform: capitalize;
        }
        h4{
          font-family: @textFont;
          text-transform: capitalize;
        }
        p{
          font-family: @textFont;
          text-transform: capitalize;
        }
        button{
          margin-top: 20px;
        }
      }
    }
  }
  