<div class="profilepage">
    <div class="row w-100">
        <div class="col-md-4">
            <h1>Action</h1>
        </div>
        <div class="col-md-8">
            <div class="profile">
                <div class="profileinner">
                    <img src="../../../assets/profile.png" class="animate__animated animate__fadeInDown slower" alt="">
                    <h1>Ravi Kumar</h1>
                </div>
                <div class="container">
                    <div class="row w-100 m-0">
                        <div class="col-md-12">
                            <div class="card animate__animated animate__fadeInLeft slower">
                                <div class="card-header">
                                    Your Profile
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-borderless">
                                            <tr>
                                                <td>First Name</td>
                                                <td>Ravi</td>
                                            </tr>
                                            <tr>
                                                <td>Last Name</td>
                                                <td>Kumar</td>
                                            </tr>
                                            <tr>
                                                <td>UserName</td>
                                                <td>rkbk1997@gmail.com</td>
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td>rkbk1997@gmail.com</td>
                                            </tr>
                                            <tr>
                                                <td>Phone Number</td>
                                                <td>8294645709</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- <button class="btn btn-danger">Edit Profile</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>