@textFont: 'Open Sans', sans-serif;
@headingFont: 'Roboto Slab', serif;

.profile {
    background-color: #fff;

    .profileinner {
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 200px;

        img {
            height: 150px;
            width: 150px;
            border-radius: 50%;
        }

        h1 {
            font-family: @headingFont;
            font-size: 33px;
        }

    }

    .container {
        .card {
            margin-top: 20px;
            margin-bottom: 30px;
            border: none;
            -webkit-box-shadow: 10px 10px 10px 1px #E6E6E6;
            box-shadow: 1px 1px 10px 1px #E6E6E6;

            .card-header {
                background-color: #1D4354;
                color: #fff;
                font-family: @headingFont;
                font-size: 25px;
                line-height: 30px;
                letter-spacing: 1px;
            }

            .card-body {
                table {
                    font-family: @headingFont;
                    font-size: 18px;
                }

                .btn {
                    font-family: @headingFont;
                    letter-spacing: 1px;
                }
            }
        }
    }


}