@textFont: 'Open Sans', sans-serif;
@headingFont: 'Roboto Slab', serif;

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    -webkit-box-shadow: -1px 7px 9px -1px rgba(224, 217, 224, 1);
    -moz-box-shadow: -1px 7px 9px -1px rgba(224, 217, 224, 1);
    box-shadow: -1px 7px 9px -1px rgba(224, 217, 224, 1);

    nav {
        background: #1D4354 !important;

        a {
            font-family: @headingFont;
            font-size: 23px;
        }

        .navbar-collapse {
            ul {
                li {
                    display: flex;
                    align-items: center !important;
                    padding: 0px 10px;

                    a {
                        font-size: 15px !important;
                        letter-spacing: 1px;
                    }

                    .signup {
                        color: rgb(84, 233, 84) !important;
                        font-family: @headingFont;
                        letter-spacing: 1px;

                    }

                    .cart {
                        font-size: 22px !important;
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .dropdown {
        button {
            font-family: @headingFont;
            font-size: 17px !important;
            letter-spacing: 1px;
        }
    }
}

.sec_header {
    margin-top: 62px;

    ul {
        li {
            a {
                color: gray;
                letter-spacing: 1px;

                &:hover {
                    color: rgb(84, 233, 84) !important;
                    font-weight: bolder;
                }
            }
        }
    }
}

.mainmenu {
    font-family: @headingFont;
    text-transform: capitalize;

    &:hover {
        background-color: #fff !important;
    }
}

.submenu {
    text-decoration: none !important;
    color: gray !important;
    font-family: @headingFont  !important;
    text-transform: capitalize !important;

    &:hover {
        background-color: #fff !important;
        color: blue !important;
    }
}

.moreMenu {
    text-decoration: none;
    color: #fff;
}

.moredropdown {
    ul {
        li {
            font-family: @headingFont  !important;
        }
    }
}