<div class="feedback">
    <h1>Fe<span>edBa</span>ck</h1>
    <div class="container-fluid">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row d-flex justify-content-center w-100">
                        <div class="col-md-12">
                            <div class="feedbackcard">
                                <div class="card">
                                    <div class="image">
                                        <img class="animate__animated animate__fadeInDown animate__slow" src="https://i.imgur.com/nUNhspp.jpg">
                                    </div>
                                    <div class="rating">
                                        <h4 class="animate__animated animate__fadeInLeft animate__slow">Sophia Smith</h4>
                                        <h5 class="animate__animated animate__fadeInRight animate__slow">CEO</h5>
                                        <div class="ratingstar">
                                            <i class="fa fa-star fa-lg animate__animated animate__bounce animate__slow"></i>
                                            <i class="fa fa-star fa-lg animate__animated animate__bounce animate__slow"></i>
                                            <i class="fa fa-star fa-lg animate__animated animate__bounce animate__slow"></i>
                                            <i class="fa fa-star fa-lg animate__animated animate__bounce animate__slow"></i>
                                            <i class="fa fa-star-o fa-lg animate__animated animate__bounce animate__slow"></i>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <p class="animate__animated animate__fadeIn animate__slow">"Growth of data is exponential and our ability to get true insight that
                                            matter
                                            was challenging with classic, traditional Bi tools.Growth of data is
                                            exponential and our ability to get true insight that matter
                                            was challenging with classic, traditional Bi tools.Growth of data is
                                            exponential and our ability to get true insight that matter
                                            was challenging with classic, traditional Bi tools."</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="row d-flex justify-content-center w-100">
                        <div class="col-md-12">
                            <div class="feedbackcard">
                                <div class="card">
                                    <div class="image">
                                        <img class="animate__animated animate__fadeInDown animate__slow" src="https://i.imgur.com/HjKTNkG.jpg">
                                    </div>
                                    <div class="rating">
                                        <h4 class="animate__animated animate__fadeInLeft animate__slow">Sophia Smith</h4>
                                        <h5 class="animate__animated animate__fadeInRight animate__slow">CEO</h5>
                                        <div class="ratingstar">
                                            <i class="fa fa-star fa-lg animate__animated animate__bounce animate__slow"></i>
                                            <i class="fa fa-star fa-lg animate__animated animate__bounce animate__slow"></i>
                                            <i class="fa fa-star fa-lg animate__animated animate__bounce animate__slow"></i>
                                            <i class="fa fa-star fa-lg animate__animated animate__bounce animate__slow"></i>
                                            <i class="fa fa-star-o fa-lg animate__animated animate__bounce animate__slow"></i>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <p class="animate__animated animate__fadeIn animate__slow">Growth of data is exponential and our ability to get true insight that matter
                                            was challenging with classic, traditional Bi tools.Growth of data is exponential and our ability to get true insight that matter
                                            was challenging with classic, traditional Bi tools.Growth of data is exponential and our ability to get true insight that matter
                                            was challenging with classic, traditional Bi tools.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row d-flex justify-content-center w-100">
                        <div class="col-md-12">
                            <div class="feedbackcard">
                                <div class="card">
                                    <div class="image">
                                        <img class="animate__animated animate__fadeInDown animate__slow" src="https://i.imgur.com/nUNhspp.jpg">
                                    </div>
                                    <div class="rating">
                                        <h4 class="animate__animated animate__fadeInLeft animate__slow">Sophia Smith</h4>
                                        <h5 class="animate__animated animate__fadeInRight animate__slow">CEO</h5>
                                        <div class="ratingstar">
                                            <i class="fa fa-star fa-lg animate__animated animate__bounce animate__slow"></i>
                                            <i class="fa fa-star fa-lg animate__animated animate__bounce animate__slow"></i>
                                            <i class="fa fa-star fa-lg animate__animated animate__bounce animate__slow"></i>
                                            <i class="fa fa-star fa-lg animate__animated animate__bounce animate__slowe"></i>
                                            <i class="fa fa-star-o fa-lg animate__animated animate__bounce animate__slow"></i>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <p class="animate__animated animate__fadeIn animate__slow">Growth of data is exponential and our ability to get true insight that matter
                                            was challenging with classic, traditional Bi tools.Growth of data is exponential and our ability to get true insight that matter
                                            was challenging with classic, traditional Bi tools.Growth of data is exponential and our ability to get true insight that matter
                                            was challenging with classic, traditional Bi tools.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
</div>