@textFont: 'Open Sans', sans-serif;
@headingFont: 'Roboto Slab', serif;

.contactus {
    background: url(../../../assets/con1.jpg) no-repeat;
    background-position: center;
    background-size: cover;

    // height: 100vh;
    .maindiv {
        background-color: #000;
        // height: 100vh;
        opacity: .8;

        .container {
            h1 {
                padding: 40px 0px 0px 0px;
                text-align: center;
                color: #fff;
                font-family: @headingFont;
            }

            p {
                text-align: center;
                color: #fff;
                font-family: @headingFont;
                letter-spacing: 1px;
            }

            .row {
                .leftDiv {
                    padding: 40px 0px;

                    .singlecard {
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: row;
                        flex-wrap: wrap;
                        color: #fff;
                        padding: 20px 0px;

                        .icondiv {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            background-color: #fff;
                            // color: #fff;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            i {
                                color: #000;
                                font-size: 20px;
                            }
                        }

                        .desdiv {
                            margin: 0px 15px;

                            h4 {
                                color: #fff;
                                font-family: @headingFont;
                                font-size: 20px;
                            }

                            h5 {
                                color: #fff;
                                font-family: @textFont;
                                padding: 0px;
                                margin: 0px;
                            }
                        }
                    }
                }

                .formdiv {
                    padding: 20px 0px;

                    .container {
                        // background-color: #fff;
                        padding: 20px;
                        font-family: @headingFont;

                        h6 {
                            font-size: 30px;
                            text-align: center;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}