@textFont: 'Open Sans', sans-serif;
@headingFont: 'Roboto Slab', serif;
:host ::ng-deep .ant-card-body {
    background-color: #1D4354 !important;
    border: none !important;
}

:host ::ng-deep .ant-card-meta-title {
    color: white !important;
    text-align: center;
    font-size: 20px;
    font-family: @headingFont;
    font-size: 15px;
    letter-spacing: 1px;
}