@textFont: "Open Sans", sans-serif;
@headingFont: "Roboto Slab", serif;
.categorymain {
  padding: 20px 20px !important;
  background-color: whitesmoke;
  h1 {
    font-family: @headingFont;
    text-align: center;
    font-size: 20px;
  }
  .row {
    .category-view {
      .category-heading {
        font-family: @headingFont;
        text-align: center;
        font-size: 18px;
        padding: 20px 0px;
      }
      nz-tabset {
        font-family: @headingFont;
      }
    }
    .form-text {
      font-family: @textFont;
      font-size: 14px;
      color: black;
      padding: 10px 0px;
      text-transform: capitalize;
    }
    .title {
      text-decoration: none;
      text-transform: capitalize;
      font-family: @headingFont;
      color: #000;
    }
    .edit {
      font-size: 20px;
      cursor: pointer;
      color: green;
      padding: 0px 25px;
    }
    .delete {
      font-size: 20px;
      cursor: pointer;
      color: red;
    }
  }
}

// .category {
//   .category-heading {
//     color: #65b56f;
//     text-align: center;
//   }
//   .category-form {
//     // border: 1px solid black;
//     padding: 30px;
//     box-shadow: 0 1px 3px 1px rgba(57, 73, 76, 0.3);
//     border-radius: 10px;
//   }
//   .category-view {
//     // border: 1px solid black;
//     padding-left: 30px;
//     box-shadow: 0 1px 3px 1px rgba(57, 73, 76, 0.3);
//     border-radius: 10px;
//   }
//   .ant-tree-title {
//     font-size: 22px;
//   }
// }
// .title {
//   display: flex;
//   text-transform: capitalize;
//   justify-content: space-between;
//   color: #000;
//   font-size: 16px;
// }
// .ant-btn {
//   padding: 1px 10px;
//   box-shadow: 0px 0px 0px rgb(0 0 0);
//   border: 0px;
// }
// .delIcon {
//   margin: 10px !important;
//   font-size: 20px !important;
// }
// .delalert {
//   color: red !important;
// }
