<div class="servicePage p-0" style="border-radius: 0px">
  <!-- <h1>We<span> Complete your Ne</span>ed</h1>
  <p>We Provide always best services</p> -->
  <div class="row w-100">
    <div class="col-md-3 col-sm-12 m-0 p-0">
      <h1>Filter</h1>
      <div class="filter">
        <ws-filters></ws-filters>
      </div>
    </div>
    <div class="col-md-9 col-sm-10 m-0 p-0">
      <h1>We<span> Complete your Ne</span>ed</h1>
      <div *ngIf="profileInfo.length" class="displaydata">
        <div *ngFor="let profile of profileInfo">

        <ws-profile-info-card
          [profileDetail]="profile"
          [category]="category"
        ></ws-profile-info-card>
        </div>
      </div>
      <div *ngIf="!profileInfo.length" class="displaydata">
        <nz-empty></nz-empty>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.5)"
  type="ball-clip-rotate-multiple"
></ngx-spinner>
