@textFont: 'Open Sans', sans-serif;
@headingFont: 'Roboto Slab', serif;
.servicePage{
  // height: 100vh;
  // padding: 20px 0px;
  h1{
    text-align: center;
    font-family: @headingFont;
    letter-spacing: 1px;
    padding: 15px 0px 0px 0px;
    text-transform: capitalize;
    font-size: 25px;
    span{
      border-bottom: 2px solid  rgb(84, 233, 84);
    }
  }
  p{
    text-align: center;
    font-family: @textFont;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 15px !important;
  }
  .row{
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
    .filter{
      background-color: whitesmoke;
      height: 100vh !important;
      overflow:hidden;
      overflow-y: scroll;
      padding: 20px 12px;
    }
    .displaydata{
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      background-color: whitesmoke;
      overflow: hidden;
      overflow-y: scroll;
      height: 100vh !important;
      padding: 20px 0px;

    }
  }
}