<div class="cart-card">
    <h3>Your selected services Provider</h3>
    <div class="card" *ngFor="let item of selectedServiceProviders">
        <div class="imgDiv">
        <img src="{{getImage(item.serviceProvider.profileurl)}}" alt="">
        <div style="display: flex;justify-content: center;flex-direction: column; width: 250px;">
        <p>{{item.serviceProvider.firstName | titlecase }} {{item.serviceProvider.lastName | titlecase}}</p><br>
            <div class="pl-2" style="display: flex;justify-content: flex-start; flex-direction: row;flex-wrap: wrap;">
        <div *ngFor="let items of item.serviceProvider.skills">
                <div *ngFor="let ele of cateList">
                    <div *ngFor="let c of ele.subService">
                      <div class="chip px-2" *ngIf="c.key == items"
                      
                      >
                      <p class="p-0 m-0 text-muted" style="font-size: 14px !important;text-transform: capitalize;">{{ c.title }}</p>

                      </div>
                    </div>
                  </div>
            </div>
            </div>
            
            </div>
        </div>
        <i class="fa fa-trash fa-lg" (click)="deleteItem(item.serviceProvider._id)"></i>
    </div>
    <div class="actionbutton" *ngIf="selectedServiceProviders?.length > 0">
        <button  nz-button
        nzType="primary"
        class="" (click)="removeAllService()">Remove All</button>
        <a routerLink="/checkout"><button  nz-button (click)="closeDarwer()"
        nzType="primary"
        class="wp-button">CheckOut</button></a>
    </div>
    <div *ngIf="selectedServiceProviders.length <= 0">
        <nz-empty></nz-empty>
    </div>
</div>