@textFont: "Open Sans", sans-serif;
@headingFont: "Roboto Slab", serif;
.cart-card{
    h3{
        font-family: @headingFont;
        font-size: 20px;
        text-transform: capitalize;
        padding: 10px 0px;
    }
    .card{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px 20px 10px 10px;
        margin: 10px 0px;
        .imgDiv{
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            img{
                height: 40px;
                width: 40px;
                border-radius: 50%;
            }
            p{
                margin: 0;
                padding: 0 20px;
                font-family: @headingFont;
            }

        }
        i{
            color: red;
            cursor: pointer;
        }
        
    }
    .actionbutton{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
}