<nz-card
  class="m-2 profile-info-card d-flex flex-direction-column"
  style="width: 280px; margin-top: 16px"
>
  <div class="profile-image row justify-content-center">
    <img
      src="{{ getImage(profileDetail.profileurl) }}"
      onerror="this.src='../../../../assets/default-profile-picture1.jpg'"
      style="width: 100px; height: 100px"
    />
    <p class="rates">₹ {{ profileDetail?.workingRate }}/hr</p>
    <p
      class="status"
      [ngStyle]="{ color: profileDetail?.status ? 'green' : 'red' }"
    >
      {{ profileDetail?.status ? "Available" : "Occupied" }}
    </p>
  </div>
  <div class="details row justify-content-center mt-2 mb-2">
    <p class="full-name">
      {{ profileDetail?.firstName }} {{ profileDetail?.lastName }}
    </p>
    <div class="d-flex m-3 flex-wrap justify-content-center">
      <div class="skill" *ngFor="let item of profileDetail.skills">
        <div *ngFor="let ele of category">
          <div *ngFor="let c of ele.subService">
            <div class="chip px-2" *ngIf="c.key == item">{{ c.title }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="rating d-flex justify-content-center">
      <i
        nz-icon
        nzType="star"
        nzTheme="fill"
        style="font-size: 18px; color: darkorange; margin-right: 5px"
      ></i>
      <b>
        <p class="inner-rating">
          {{
            profileDetail?.rating.length !== 0 ? "4/5" : "No rating yet"
          }}&nbsp;
        </p>
      </b>
      <p class="jobs-completed">
        ({{ profileDetail.jobsCompleted ? "profileDetail.jobsCompleted" : "0" }}
        Jobs)
      </p>
    </div>
  </div>
  <div class="see-more row justify-content-center">
    <button
      nz-button
      class="wp-button"
      class="deselected"
      *ngIf="isSelected"
      style="width: fit-content !important"
      (click)="deselectService(profileDetail._id)"
    >
      Deselect
    </button>
    <button
      nz-button
      class="wp-button"
      class="selected"
      *ngIf="!isSelected"
      style="width: fit-content !important"
      (click)="openSelectForm()"
    >
      Select
    </button>
  </div>
</nz-card>
