@textFont: 'Open Sans', sans-serif;
@headingFont: 'Roboto Slab', serif;

.feature-card{
    width: 100%;
    nz-card{
        background-color: #F9F9F9 !important;
        h4{
            font-family: @headingFont;
            text-align: center;
            letter-spacing: 1px;
        }
        p{
            font-family: @textFont;
            text-align: center;
            text-transform: capitalize;
            font-size: 16px;
            word-spacing: 1px;
        }
    }
}